
input{
    border-radius: 50px;
    margin: 20px 15px;
    box-shadow: 1px green;
    width: 75%;
    height: 30px;
}
.caddie-record{
    display: grid;
    border-radius: 5px;
    border: 1px solid green ;
    width: 300px;
    height: 400px;
}